/* Generales  ++++++++++++*/

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

img {
  width: auto;
  height: 100%;
  max-height: 50vh;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

/*  Icons  ++++++++++++*/
.logo {
  color: #c7262f;
  font-size: 200px;
}

.logo-med {
  font-size: 30px;
  margin-bottom: 30px;
  color: #c7262f;
}

.logo-small {
  font-size: 15px;
  margin-bottom: 15px;
  color: #c7262f;
}


/* Menu  ++++++++++++*/

.navbar {
  margin-bottom: 0;
  background-color: #8f0008;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: black !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

/* Pantalla de Inicio  ++++++++++++*/

.jumbotron {
  background-color: white;
  padding: 100px 25px;
}

.container-fluid {
  padding: 60px 50px;
}



#verde {
  font-family: Helvetica;
  color: #51b853;
}

img {
  height: auto;
  width: auto/9;
  /* Bug de ie8 */
}

/*  Fondo gris  ++++++++++++*/

.bg-grey {
  background-color: #f6f6f6;
}
